<!DOCTYPE html>
<html>

<head>
    <title>API Tester</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <table>
        <tr>
            <th>Login Server</th>
            <td>
                <%= data.SF_LoginServer %>
            </td>
        </tr>
        <tr>
            <th>My Domain</th>
            <td>
                <%= data.SF_MyDomain %>
            </td>
        </tr>
    </table>

    <script>
        console.log("API Tester engine");
    </script>
</body>

</html>